<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gestión de cursos</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sn-12 text-center">
                <h1> {{titulo}}</h1>
            </div>
        </div>
    </div>
</div>

<header>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/crear">Crear cursos</a></li>
    <li><a href="/cursos">Ver Cursos</a></li>
    <li><a href="/cursosdisponibles">Ver cursos disponibles</a></li>
    <li><a href="/inscribircurso">Inscribirme</a></li>
    <li><a href="#">Ver inscritos</a></li>
</ul>
</header>