{{>header}}
<br>
{{{inscribir}}}

<div class="containerd">
    <form action="/inscribircurso" method="GET">
    <div class="col"></div>
    <div class="col">
        <label for="id">Documento del aspirante:</label>
        <input class="form-control" type="number" name="id" id="id" placeholder="documento del aspirante" required>
        <br>
        <button class="btn btn-primary" type="submit">Incsibirme</button>
    </div>
    </form>
</div>



{{>footer}}