<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gestión de cursos</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sn-12 text-center">
                <h1> {{titulo}}</h1>
            </div>
        </div>
    </div>
<br>
{{{res}}}

<div>
    <form action="/registro" method="get">
    <div class="col"></div>
    <div class="col">
        <label for="id">Documento:</label>
        <input class="form-control" type="number" name="id" id="id" placeholder="documento" required>

        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" required>

        <label for="mail">Correo electronico</label>
        <input class="form-control" type="email" name="mail" id="mail" placeholder="Correo" required>

        <label for="numero">Numero telefonico</label>
        <input class="form-control" type="number" name="numero" id="numero" placeholder="Numero  de telefono" required>

        <br>
        <button class="btn btn-primary" type="submit">Incsibirme</button>
        
    </div>
    <div class="col">
        <a href="/" class="btn btn-primary">Volver</a>
    </div>
        
    </form>
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>
</body>

</html>